<tr>
  <td><%= economy_carriage.number %></td>
  <td><%= link_to <%= t('common.show') %>, admin_economy_carriage_path(economy_carriage) %></td>
  <td><%= link_to <%= t('common.edit') %>, edit_admin_economy_carriage_path(economy_carriage) %></td>
  <td><%= link_to <%= t('common.delete')>, [:admin, economy_carriage], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
