<p id="notice"><%= notice %></p>

<p>
  <h1>Маршрут: <%= "#{@route.name}" %></h1>
</p>


<thead>
  <tr>
  <th></th>
  <th colspan="3"></th>
  </tr>
</thead>

<p>
  <% if @route.railway_stations.empty? %>
    В маршруте нет станций
  <% else %>
    <table>
      <tr>
        <th>Название</th>
        <th>Позиция</th>
        <th></th>
        <th>Время прибытия</th>
        <th>Время отправления</th>
        </tr>
      <tbody>
        <% @route.railway_stations.ordered.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <%= form_tag update_position_railway_station_path(station), method: :patch do %>
              <td><%= number_field_tag :position, station.position_in(@route) %>
                <%= hidden_field_tag :route_id, @route.id %>
              </td>
              <td><%= submit_tag "Изменить" %>
            <% end %>

            <td align="center">
              <% if station.time_arrival(@route).present? %>
                <%= link_to "#{station.time_arrival(@route).strftime('%H:%M')}", time_edit_route_path(@route) %>
              <% else %>
                <%= link_to "Не указано", time_edit_route_path(@route) %>
              <% end %>
            </td>

            <td align="center">
              <% if station.time_departure(@route).present? %>
                <%= link_to "#{station.time_departure(@route).strftime('%H:%M')}", time_edit_route_path(@route) %>
              <% else %>
                <%= link_to "Не указано", time_edit_route_path(@route) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<p>
  <strong>Поезда на этом маршруте:</strong><br>
  <% if @route.trains.empty? %>
    <p>На этом маршруте нет поездов</p>
  <% else %>
    <% @route.trains.each do |train| %>
      <%= train.number %><br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
