<p id="notice"><%= notice %></p>

<p>
  <h1><%= t('.title') %><%= "#{@route.name}" %></h1>
</p>


<thead>
  <tr>
  <th></th>
  <th colspan="3"></th>
  </tr>
</thead>

<p>
  <% if @route.railway_stations.empty? %>
    <%= t('.stations_empty') %>
  <% else %>
    <table>
      <tr>
        <th><%= t('.table_name') %></th>
        <th><%= t('.table_position') %></th>
        <th></th>
        <th><%= t('.table_time_arrival') %></th>
        <th><%= t('.table_time_departure') %></th>
        </tr>
      <tbody>
        <% @route.railway_stations.ordered.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>
              <td><%= number_field_tag :position, station.position_in(@route) %>
                <%= hidden_field_tag :route_id, @route.id %>
              </td>
              <td><%= submit_tag t('.change_position') %>
            <% end %>

            <td align="center">
              <% if station.time_arrival(@route).present? %>
                <%= link_to "#{station.time_arrival(@route).strftime('%H:%M')}", time_edit_admin_route_path(@route) %>
              <% else %>
                <%= link_to t('.time_empty'), time_edit_admin_route_path(@route) %>
              <% end %>
            </td>

            <td align="center">
              <% if station.time_departure(@route).present? %>
                <%= link_to "#{station.time_departure(@route).strftime('%H:%M')}", time_edit_admin_route_path(@route) %>
              <% else %>
                <%= link_to t('.time_empty'), time_edit_admin_route_path(@route) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<p>
  <strong><%= t('.trains_on_route') %></strong><br>
  <% if @route.trains.empty? %>
    <p><%= t('.trains_empty') %></p>
  <% else %>
    <% @route.trains.each do |train| %>
      <%= train.number %><br>
    <% end %>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %>
<%= link_to t('common.back'), admin_routes_path %>
