<h1>Изменить время прибытия и отправления поезда со станции</h1>
<table>
  <tr>
    <th>Название</th>
    <th>Время прибытия</th>
    <th></th>
    <th>Время отправления</th>
  </tr>
  <tbody>
    <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <td><%= station.title %></td>


        <%= form_tag update_arrival_railway_station_path(station), method: :patch do %>
          <td>
            <%= time_field_tag :arrival %>
            <%= hidden_field_tag :route_id, @route.id %>
          </td>
          <td><%= submit_tag "Изменить" %></td>
        <% end %>

        <%= form_tag update_departure_railway_station_path(station), method: :patch do %>
          <td>
            <%= time_field_tag :departure  %>
            <%= hidden_field_tag :route_id, @route.id %>
          </td>
          <td><%= submit_tag "Изменить" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Назад", @route %>
