<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<table>
  <thead>
    <tr>
      <th>Билет на имя:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @train.tickets.each do |train_ticket| %>
      <tr>
        <td><%= train_ticket.passenger_name %></td>
        <td><%= link_to 'Показать', train_ticket %></td>
        <td><%= link_to 'Редактировать', edit_ticket_path(train_ticket) %></td>
        <td><%= link_to 'Удалить', train_ticket, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
<strong>Маршрут поезда:</strong>
<% if @train.route.present? %>
  <%= @train.route.name %>
<% else %>
  Маршрут не установлен
<% end %>
</p>

<p>
  <strong>Вагоны купе:</strong><br>
  <%= render  'train_carriages', carriages: @train.carriages.coupe%><br>
  <%= link_to "Добавить вагон", new_train_coupe_carriage_path(@train) %>
</p>

<p>
  <strong>Плацкартные вагоны:</strong><br>
  <%= render 'train_carriages', carriages: @train.carriages.economy %><br>
  <%= link_to "Добавить вагон", new_train_economy_carriage_path(@train) %>
  </p>

<p>
  <strong>СВ вагоны:</strong><br>
  <%= render 'train_carriages', carriages: @train.carriages.sv %><br>
  <%= link_to "Добавить вагон", new_train_sv_carriage_path(@train) %>

  </p>

<p>
  <strong>Сидячие вагоны:</strong><br>
  <%= render 'train_carriages', carriages: @train.carriages.seats %><br>
  <%= link_to "Добавить вагон", new_train_seats_carriage_path(@train) %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
