<%= form_for [:admin, @train, @seats_carriage] do |form| %>

  <%= render 'common/errors', resource: @seats_carriage %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :seat_places %>
    <%= form.text_field :seat_places %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit',action: @seats_carriage.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
