<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('carriages.number') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <%= render @seats_carriages %>

  </tbody>
</table>

<br>

<%= link_to t('carriages.add_carrige'), new_admin_train_seats_carriage_path %>
