<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('carriages.number') %></strong>
  <%= @seats_carriage.number %>
</p>

<p>
  <strong><%= t('carriages.type') %></strong>
  <%= @seats_carriage.type %>
</p>

<p>
  <strong><%= t('carriages.train') %></strong>
  <% if @seats_carriage.train.present? %>
    <%= @seats_carriage.train.number %>
  <% else %>
    <%= t('carriages.train_empty') %>
  <% end %>
</p>


<p>
  <strong><%= t('carraiges.seats_places') %></strong>
  <%= @seats_carriage.seat_places %>
</p>

<%= link_to t('common.edit'), edit_admin_seats_carriage_path(@seats_carriage) %> |
<%= link_to t('common.back'), [:admin, @seats_carriage.train] %>
