<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('carriages.number') %></strong>
  <%= @sv_carriage.number %>
</p>

<p>
  <strong><%= t('carriages.type') %></strong>
  <%= @sv_carriage.type %>
</p>

<p>
  <strong><%= t('carriages.train') %></strong>
  <% if @sv_carriage.train.present? %>
    <%= @sv_carriage.train.number %>
  <% else %>
    <%= t('carraiges.train_empty') %>
  <% end %>
</p>

<p>
  <strong><%= t('carriages.sv_places') %></strong>
  <%= @sv_carriage.bottom_seats %>
</p>

<%= link_to t('common.edit'), edit_admin_sv_carriage_path(@sv_carriage) %> |
<%= link_to t('common.back'), [:admin, @sv_carriage.train] %>
