<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.title') %></strong>
  <%= current_user.email %>
</p>


<% current_user.tickets.each do |ticket| %>
  <p>
  <%= t('.ticket_name') %> <%= ticket.passenger_name %><br>
  <%= t('.train_number')%> <%= ticket.train.number %><br>
  <%= t('.route') %> <%= ticket.train.route.name %><br>
  <%= link_to t('common.show'), ticket_path(ticket) %>
  <%= link_to t('common.delete'), ticket, method: :delete, data: { confirm: 'Вы уверены?' } %>
  </p>
<% end %>


<p><%= link_to "Поиск", new_search_path %></p>

