<p id="notice"><%= notice %></p>

<p>
  <strong>Тип вагона:</strong>
  <%= @compartment_carriage.carriage_type %>
</p>

<% if @compartment_carriage.train.present? %>
  <p>
    <strong>Вагон прицеплен к поезду:</strong>
    <%= @compartment_carriage.train.number %>
  </p>
<% else %>
  <p><strong>Вагон не прицеплен ни к одному поезду</strong></p>
<% end %>

<p>
  <strong>Количество нижних мест:</strong>
  <% if @compartment_carriage.bottom_places.present? %>
    <%= @compartment_carriage.bottom_places %>
  <% else %>
    Не указано
  <% end %>
</p>

<p>
  <strong>Количество верхних мест:</strong>
  <% if @compartment_carriage.upper_places.present? %>
    <%= @compartment_carriage.upper_places %>
  <% else %>
    Не указано
  <% end %>
</p>

<%= link_to 'Редактировать', edit_compartment_carriage_path(@compartment_carriage) %> |
<%= link_to 'Назад', compartment_carriages_path %>
