<%= form_with(model: @sv_carriage, local: true) do |form| %>

  <%= render 'common/errors', resource: @sv_carriage %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :bottom_seats %>
    <%= form.text_field :bottom_seats %>
  </div>

  <div class="field">
    <%= form.label :train %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @sv_carriage.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
