<%= form_with(model: @reserved_carriage, local: true) do |form| %>

  <%= render 'common/errors', resource: @reserved_carriage %>

  <div class="field">
    <%= form.label :bottom_places %>
    <%= form.text_field :bottom_places %>
  </div>

  <div class="field">
    <%= form.label :upper_places %>
    <%= form.text_field :upper_places %>
  </div>

  <div class="field">
    <%= form.label :train_id %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @reserved_carriage.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
