<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>


<thead>
  <tr>
  <th></th>
  <th colspan="3"></th>
  </tr>
</thead>

<p>
  <strong>Станиции:</strong><br>
  <% if @route.railway_stations.empty? %>
    Нет выбранных станций
  <% else %>
    <% @route.railway_stations.each do |station| %>
      <%= station.title %>
      serial_number
      <%= station.serial_number_route_id %><br>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Поезда на этом маршруте:</strong><br>
  <% if @route.trains.empty? %>
    <p>На этом маршруте нет поездов</p>
  <% else %>
    <% @route.trains.each do |train| %>
      <%= train.number %><br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
