<%= form_for [:admin, @train, @coupe_carriage] do |form| %>

  <%= render 'common/errors', resource: @coupe_carriage %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :top_seats %>
    <%= form.text_field :top_seats %>
  </div>

  <div class="field">
    <%= form.label :bottom_seats %>
    <%= form.text_field :bottom_seats %>
  </div>

  <div class="field">
    <%= form.label :seat_places %>
    <%= form.number_field :seat_places %>

  <div class="field">
    <%= form.label :type %>
    <%= form.collection_select :type, [CoupeCarriage.first, EconomyCarriage.first, SvCarriage.first, SeatsCarriage.first], :type, :type %>
  </div>

  <div class="field">
    <% if EconomyCarriage.all.empty? %>
      <%= link_to "Создать плацкартный вагон", new_admin_train_economy_carriage_path(@train) %>
    <% end %>
  </div>

  <div class="field">
    <% if SvCarriage.all.empty? %>
      <%= link_to "Создать вагон СВ", new_admin_train_sv_carriage_path(@train) %>
    <% end %>
  </div>

  <div class="field">
    <% if SeatsCarriage.all.empty? %>
      <%= link_to "Создать вагон сидячих мест", new_admin_train_seats_carriage_path(@train) %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit', action: @coupe_carriage.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
