<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('carriages.number') %></strong>
  <%= @coupe_carriage.number %>
</p>

<p>
  <strong><%= t('carriages.type') %></strong>
  <%= @coupe_carriage.type %>
</p>

<p>
  <strong><%= t('carraiges.train') %></strong>
  <% if @coupe_carriage.train.present? %>
    <%= @coupe_carriage.train.number %>
    <% else %>
      <%= t('carriges.train_empty') %>
  <% end %>
</p>

<p>
  <strong><%= t('carriges.top_seats') %></strong>
  <%= @coupe_carriage.top_seats %>
</p>

<p>
  <strong><%= t('carriges.bottom_seats') %></strong>
  <%= @coupe_carriage.bottom_seats %>
</p>




<%= link_to t('common.edit'), edit_admin_coupe_carriage_path(@coupe_carriage) %> |
<%= link_to t('common.back'), [:admin, @coupe_carriage.train] %>
