<%= form_with(model: [:admin, train], html: { style: "display: #{ hidden ? 'none' : 'block'}" }, id: "train_edit_#{train.id}", local: true) do |form| %>

  <%= render 'common/errors', resource: train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :route %>
    <%= form.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :current_station %>
    <%= form.collection_select :railway_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="actions"><br>
    <%= form.submit t('.submit', action: train.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
