<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @economy_carriage.number %>
</p>

<p>
  <strong>Типа вагона:</strong>
  <%= @economy_carriage.type %>
</p>

<p>
  <strong>Верхних мест:</strong>
  <%= @economy_carriage.top_seats %>
</p>

<p>
  <strong>Нижних мест:</strong>
  <%= @economy_carriage.bottom_seats %>
</p>

<p>
  <strong>Боковых верхних мест:</strong>
  <%= @economy_carriage.side_top_seats %>
</p>

<p>
  <strong>Боковых нижних мест:</strong>
  <%= @economy_carriage.side_bottom_seats %>
</p>

<p>
  <strong>Присоединен к поезду:</strong>
  <% if @economy_carriage.train.present? %>
    <%= @economy_carriage.train.number %>
  <% else %>
    Не присединен к поезду
  <% end %>
</p>


<%= link_to 'Редактировать', edit_economy_carriage_path(@economy_carriage) %> |
<%= link_to 'Назад', @economy_carriage.train %>
